<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Create new post</h1>

  <div class="form-control" [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}">
    <label for="title">Post title:</label>
    <input id="title" type="text" formControlName="title">
    <div class="validation" *ngIf="form.get('title').touched && form.get('title').invalid">
      <small *ngIf="form.get('title').errors.required">Enter post title</small>
    </div>
  </div>

  <div class="form-control">
    <label>Post content:</label>
    <textarea formControlName="text" rows="4" cols="50" placeholder="Write here...">
    </textarea>
  </div>

  <div class="form-control" [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}">
    <label for="author">Author post:</label>
    <input id="author" type="text" formControlName="author">
    <div class="validation" *ngIf="form.get('author').touched && form.get('author').invalid">
      <small *ngIf="form.get('author').errors.required">Enter author post</small>
    </div>
  </div>

  <button class="btn btn-block btn-primary" type="submit" [disabled]="form.invalid">Create post
  </button>
</form>

<app-alert></app-alert>