<nav class="navbar bg-primary">
  <h1>
    <a routerLink="/admin/dashboard">Test Task Admin</a>
  </h1>
  <ul
    *ngIf="!auth.isAuthenticated()"
  >
    <li routerLinkActive="active">
      <a (click)="goHome()">Go home</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'login']">Sign In</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'register']">Sign up</a>
    </li>
  </ul>

  <ul
    *ngIf="auth.isAuthenticated()"
  >

    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'dashboard']">Main</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'create']">Create</a>
    </li>
    <li>
      <a href="#" (click)="logout($event)">Logout</a>
    </li>
  </ul>



</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
